@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    margin: 10px; /* Added margin for better spacing on mobile */
}

#title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
    text-align: center;
}

.card-body-container {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    background-color: #ffffff;
}

.top-row-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.audio-button {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #007bff;
}

.english {
    font-size: 24px;
    font-weight: 700;
    color: #007bff;
}

.image {
    width: 100%;
    max-width: 200px;
    height: auto;
    max-height: 200px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.pinyin, .character {
    font-size: 5vw;
    margin: 5px 0;
    font-weight: 400;
    color: #333;
}

@media (max-width: 600px) {
    body {
        margin: 20px;
    }

    #title {
        font-size: 28px;
    }

    .card-body-container {
        padding: 15px;
    }

    .top-row-container {
        padding: 0 5px;
    }

    .audio-button, .english {
        font-size: 20px;
    }

    .image {
        max-width: 150px;
        max-height: 150px;
    }

    .pinyin, .character {
        font-size: 6vw;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .pinyin, .character {
        font-size: 4vw;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .pinyin, .character {
        font-size: 3vw;
    }
}

@media (min-width: 1201px) {
    .pinyin, .character {
        font-size: 2vw;
    }
}
